@import "valiable.scss";
@import "mixin.scss";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none;
}
.btn {
	@include btn;
}
body {
	background-color: $body-bg-color;
	font-family: $font-family-mobile-base;
}
.iconfont {
	display: inline-block;
	width: 16px;
	height: 16px;
}
h1 {
	display: none;
}
input {
	outline: none;
}
input[type=radio] {
	display: none;
}
form {
	padding: 0 15px;
}
.pass-bg {
	max-width: 100%;
}
.input-group {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.input {
	flex-grow: 1;
	height: 40px;
	line-height: 40px;
	width: 80%;
	padding-left: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
}
.btn-info {
	@include btn;
	color: $btn-info-color;
	background-color: $btn-info-bg;
	width: 100%;
}
.created-pasword-container {
	margin-top: 15px;
}