<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>学乐无忧-吃小龙虾注意事项</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="description" content="吃小龙虾注意事项，怎么吃小龙虾">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="http://cdn.staticfile.org/weui/0.3.0/weui.min.css">
    <style>
    .color-orange {color:#FF8124;}
    .weui_article * {max-width: 100%;box-sizing: border-box;word-wrap: break-word;}
    .article-title {color: #333;font-size:130%;text-align: center;margin-bottom: 15px;}
    </style>
</head>
<body>
    <div class="container">
        <div class="hd weui_article">
            <h1>
                <img src="http://7xw9of.com1.z0.glb.clouddn.com/xia.jpg" alt="" style="float:left;width:40%;margin-right:5px;">
                现在小龙虾越来越为人们所喜爱，比方说有报导过的国内游人在泰国自助餐厅内用盘子大把铲虾，在各处自助餐厅、大排档等等各地，随处可以感受虾受欢迎的程度。然而，随之而来的，我们也会时不时听到有人吃虾生病住院的新闻，那这是怎么了呢？该如何吃小龙虾呢，吃虾又有哪些禁忌呢？
            </h1>
        </div>
        <article class="weui_article">
            <h1 class="color-orange">食用禁忌</h1>
            <section>
                <h2 class="title">一、虾头和虾线千万不要吃</h2>
                <section>
                    <p>虾头是吸收并处理毒素和集聚细菌和寄生虫最多的地方，而虾线作为龙虾体内仅次于头部第二脏的部位，在吃虾前建议一定要去除。此外，吃虾时要有节制，易过敏人群和痛风病人勿食用。</p>
                </section>
                <h2 class="title">二、死虾和变质的虾不能吃</h2>
                <section>
                    <p>虾一旦死亡，其体内易生成对人体有害物质。特别是死亡时间越长，积累毒素越多，食用后容易导致腹泻等肠胃道感染性疾病，危害身体健康。</p>
                </section>
                <h2 class="title">三、一定要高温煮熟煮透</h2>
                <section>
                    <p>吃未煮熟的虾，就容易感染肺吸虫病和导致胃肠道中毒。一般来说，在沸水中煮4-5分钟才算彻底杀菌。</p>
                </section>
                <h2 class="title">四、相克食物要远离</h2>
                <section>
                    <p>龙虾含有丰富的蛋白质和钙等营养素。而水果中含有较多的鞣酸，如果吃完龙虾后，马上吃水果，不但影响人体对蛋白质的吸收，龙虾中的钙还会与水果中的鞣酸相结合，形成难溶的钙，会对胃肠道产生刺激，甚至引起腹痛、恶心、呕吐等症状。最好间隔2小时以上再吃。</p>
                </section>
            </section>
        </article>
        <p class="weui_article article-title">
            <span class="color-orange" style="display:block;">虾好吃难剥，有什么好的方法吗?</span>
            <img src="http://7xw9of.com1.z0.glb.clouddn.com/boxia0.gif" alt="">
            <img src="http://7xw9of.com1.z0.glb.clouddn.com/boxia1.gif" alt="">
            <img src="http://7xw9of.com1.z0.glb.clouddn.com/boxia2.gif" alt="">
            <img src="http://7xw9of.com1.z0.glb.clouddn.com/boxia3.gif" alt="">
        </p>
        <p class="weui_article article-title">
            更多内容，欢迎关注公众号。
            <img src="http://7xw9of.com1.z0.glb.clouddn.com/erweima.png" alt="">
        </p>
    </div>
</body>
</html>